<div class="container" >

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container" >

        <div class="hero-content">
          <img class="avatar" src="img/vaisakh_avatar.jpg" alt="Vaisakh Anand"> 

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.tagline != '' %}
          <h4 style="color:rgb(131, 131, 131);" class="text-center">{{site.tagline}}</h4>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center" style=”padding:15px;margin:15px;” >
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            <!--TODO to compute Experience
            {{ site.time | date: '%Y' | minus:2000 }} -->

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          <br>
          {% endif %}

          <table class="tableContact" style="width:100%">
            <tr >
              {% if site.location != '' %}<th class="text-center" style="width:33%"><i class="fa fa-map-marker"></i> Location</th>{% endif %}
              {% if site.telephone != '' %}<th class="text-center" style="width:33%"><i class="fa fa-phone"></i> Phone</th>{% endif %}
              {% if site.email != '' %}<th class="text-center" style="width:33%"><i class="fa fa-envelope-o"></i> Email</th>{% endif %}
            </tr>
            <tr>

              {% if site.location != '' %}
              <td>
                {{site.location}}
              </td>
              {% endif %}

              {% if site.telephone != '' %}<td>
                <a href="tel:{{site.telephone}}">{{site.telephone}}</a>
              </td>
              {% endif %}

              {% if site.email != '' %}
              <td>
                <a href="mailto:{{site.email}}">{{site.email}}</a>
              </td>
              {% endif %}

            </tr>
          </table>

          <div class="hero-buttons">

            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.gitlab_username != '' %}
              <a href="https://gitlab.com/{{ site.gitlab_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-gitlab" aria-hidden="true"></i>Gitlab</button></a>
            {% endif %}
            {% if site.medium_username != 'null' %}
              <a href="https://{{ site.resume_download_link }}"><button class="btn btn-default btn-lg"><i class="fa fa-download"></i></i>Resume</button></a>
            {% endif %}

          </div>
        </div>
        <div class="IconContainer">
            <img class="icons" src="img/icons/embedded.png" alt="Avatar">
            <img class="icons" src="img/icons/drone.png" alt="Avatar">
            <img class="icons" src="img/icons/linux.png" alt="Avatar">
            <img class="icons" src="img/icons/media.png" alt="Avatar">
        </div>
        <a class="section-jump text-center" href="#portfolio">
          <i class="fa fa-angle-down fa-3x"></i>
          <br><p>Personal Projects</p> 
        </a>
      </div>

    </div>

  </div>

</div>
