<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.project_link2 != empty %}
  <a href="{{ post.project_link2 }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon2}} fa-lg"></i>{{post.button_text2}}</button></a>
  {% endif %}

  {% if post.project_link3 != empty %}
  <a href="{{ post.project_link3 }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon3}} fa-lg"></i>{{post.button_text3}}</button></a>
  {% endif %}

  {% if post.project_link4 != empty %}
  <a href="{{ post.project_link4 }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon4}} fa-lg"></i>{{post.button_text4}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
